@import "@servicenow/sass-kit/host";
@import 'theme';

:root {
	--stage-font-size: 0.5rem; // default font size
	--stage-tracker-height: 5em; // default height
}


.stage-tracker {
	width: 100%;
	height: var(--stage-tracker-height);
	background: $stage-tracker-background;
	margin: 0;
	counter-reset: step;
	list-style-type: none;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	border-radius: 5px;
	display: flex;
}

.pop-icon {
    color: red;
}

.stage {
	//font-size: var(--stage-font-size);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: $stage-background;
	color: $stage-text-color;
	font-family: inherit;
	cursor: pointer;



	a {
		text-decoration: none;
		color: inherit;
		font-size: inherit;
		font-weight: bold;
		font-family: var(--now-font-family);
		text-transform: uppercase;
	}

}
.stage:not(:first-child) {
	margin-left: -6px;
}
.stage:first-child {
	clip-path: polygon(
		0 0,
		calc(100% - 10px) 0,
		100% 50%,
		calc(100% - 10px) 100%,
		0 100%,
		0px 50%
	);
}
.stage:not(:first-child):not(:last-child) {
	clip-path: polygon(
		0 0,
		calc(100% - 10px) 0,
		100% 50%,
		calc(100% - 10px) 100%,
		0 100%,
		10px 50%
	);
}
.stage:last-child {
	clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10px 50%, 0% 0%);
}

.stage:hover {
	text-decoration: none;
}


.stage.complete {
	background: $stage-complete-color;
	color: #eee;
}

.stage.current {
	font-weight: bold;
	background: $stage-current-color;
	color: #eee;
}
.stage:before {
	font-weight: bolder;
	margin-right: 5px;
}

.stage.complete:before {
	content: "✓";
}
.stage.current:before {
	content: "☉";
}

.error {
	border: solid 1px red;
    margin: 5px;
    padding: 10px;
    background: lightcoral;
	color: white;
}