@import "@servicenow/sass-kit/host";
@import 'theme';

// SCSS variable definitions
$stage-font-size-small: 0.6rem;
$stage-font-size-medium: 0.8rem;
$stage-font-size-large: 1rem;

$stage-height-small: 1.8em;
$stage-height-medium: 2em;
$stage-height-large: 2.5em;

$stage-tracker-height: $stage-height-medium;

:root {
	--stage-font-size-small: #{$stage-font-size-small};
	--stage-font-size-medium: #{$stage-font-size-medium};
	--stage-font-size-large: #{$stage-font-size-large};

	--stage-height-small: #{$stage-height-small};
	--stage-height-medium: #{$stage-height-medium};
	--stage-height-large: #{$stage-height-large};

	--stage-tracker-height: #{$stage-tracker-height}; // default height
}

.stage-tracker {
	width: 100%;
	background: $stage-tracker-background;
	margin: 0;
	counter-reset: step;
	list-style-type: none;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	border-radius: 5px;
	display: flex;
}

.pop-icon {
	color: red;
}

.stage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: $stage-background;
	color: $stage-text-color;
	font-family: inherit;
	cursor: pointer;
	font-size: var(--stage-font-size-medium, #{$stage-font-size-medium}); 
	height: var(--stage-height-medium, #{$stage-height-medium});  

	a {
		text-decoration: none;
		color: inherit;
		font-size: inherit;
		font-weight: bold;
		font-family: var(--now-font-family);
		text-transform: uppercase;
	}
}

.stage.small {
	font-size: var(--stage-font-size-small, #{$stage-font-size-small});
	height: var(--stage-height-small, #{$stage-height-small});
}

.stage.large {
	font-size: var(--stage-font-size-large, #{$stage-font-size-large});
	height: var(--stage-height-large, #{$stage-height-large});
}

.stage:not(:first-child) {
	margin-left: -6px;
}

.stage:first-child {
	clip-path: polygon(
		0 0,
		calc(100% - 10px) 0,
		100% 50%,
		calc(100% - 10px) 100%,
		0 100%,
		0 50%
	);
}

.stage:not(:first-child):not(:last-child) {
	clip-path: polygon(
		0 0,
		calc(100% - 10px) 0,
		100% 50%,
		calc(100% - 10px) 100%,
		0 100%,
		10px 50%
	);
}

.stage:last-child {
	clip-path: polygon(
		100% 0,
		100% 50%,
		100% 100%,
		0 100%,
		10px 50%,
		0 0
	);
}

.stage:hover {
	text-decoration: none;
}

.stage.complete {
	background: $stage-complete-color;
	color: #eee;
}

.stage.current {
	font-weight: bold;
	background: $stage-current-color;
	color: #eee;
}

.stage:before {
	font-weight: bolder;
	margin-right: 5px;
}

.stage.complete:before {
	content: "✓";
}

.stage.current:before {
	content: "☉";
}

.error {
	border: solid 1px red;
	padding: 10px;
	background: lightcoral;
	color: white;
	font-size: var(--stage-font-size-medium, #{$stage-font-size-medium});
	height: var(--stage-height-medium, #{$stage-height-medium}); 
}

.error-message {
	margin-top: 5px;
	padding: 5px;
	background-color:rgba(255, 0, 0, 0.1);
	color: black; 
	border: 1px solid #d32f2f; 
	border-radius: 5px; 
	font-size: 0.9rem; 
	font-weight: normal; 
	display: flex;
	align-items: center;
}

.error-message-icon {
	margin-right: 10px;
	font-size: 1.2rem; 
}

