@import "@servicenow/sass-kit/host";
@import 'theme';

.milestone-tracker {
	width: 100%;
	background: $milestone-tracker-background;
	margin: 0;
	counter-reset: step;
	list-style-type: none;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	border-radius: 5px;
	display: flex;
}

.milestone {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: $milestone-background;
	color: $milestone-text-color;
	font-family: inherit;
	font-size: inherit;
	height: calc(2rem);
}
.milestone:not(:first-child) {
	margin-left: -6px;
}
.milestone:first-child {
	clip-path: polygon(
		0 0,
		calc(100% - 10px) 0,
		100% 50%,
		calc(100% - 10px) 100%,
		0 100%,
		0px 50%
	);
}
.milestone:not(:first-child):not(:last-child) {
	clip-path: polygon(
		0 0,
		calc(100% - 10px) 0,
		100% 50%,
		calc(100% - 10px) 100%,
		0 100%,
		10px 50%
	);
}
.milestone:last-child {
	clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10px 50%, 0% 0%);
}

.milestone a {
	text-decoration: none;
	color: inherit;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.milestone:hover {
}

.milestone.complete {
	background: $milestone-complete-color;
	color: #eee;
}

.milestone.current {
	font-weight: bold;
	background: $milestone-current-color;
	color: #eee;
}
.milestone:before {
	font-weight: bolder;
	margin-right: 3px;
}

.milestone.complete:before {
	content: "✓";
}
.milestone.current:before {
	content: "☉";
}
