$milestone-tracker-background: white;
$milestone-background: #eeeeee;
$milestone-text-color: dimgrey;

$milestone-current-color: RGB($now-color--secondary-1);
$milestone-complete-color: RGBA($now-color--secondary-1, 0.5);