$stage-tracker-background: white;
$stage-background: #eeeeee;
$stage-text-color: dimgrey;

$stage-current-color: RGB($now-color--secondary-1);
$stage-complete-color: RGBA($now-color--secondary-1, 0.5);